body,
h1 {
    font-weight: 400;
}

body,
h3 {
    color: #666;
    overflow-x: hidden;
    line-height: 1.5;
}

body,
h1,
h3 {
    line-height: 1.5;
}

.bordered-text,
.contact-form,
h1 {
    display: inline-block;
}


.contact-form p {
    max-width: 450px;
    text-align: center;
    padding: 10px 40px;
    line-height: 20px;
}

.bordered-text,
h3 {
    text-transform: uppercase;
}

#testimonials a:active,
#testimonials a:focus,
#testimonials a:hover,
.lp-resources-cta a:link.team-cta a,
.team-cta a:hover,
a {
    text-decoration: none;
}

#footer p,
#testimonials .client span,
.member-details .title,
.resources-cta,
.section-title,
.team-cta a,
.testimonial {
    font-style: italic;
}

#project-slider.flexslider,
.flexslider {
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

html {
    font-size: 60.5%;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
}

body,
html {
    height: 100%;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.bx-wrapper .bx-viewport {
    background-color: #cf2347;
    border: 0;
    box-shadow: 0 0 0 #cf2347;
    -webkit-box-shadow: 0 0 0 #cf2347;
    -moz-box-shadow: 0 0 0 #cf2347;
}

.bx-wrapper {
    margin-bottom: 1%;
    border: 0;
}

.caflisch-script-pro {
    font-family: caflisch-script-pro, sans-serif;
    font-size: 1.5em;
    line-height: 2px;
}

.script-header {
    font-family: caflisch-script-pro, sans-serif;
    font-size: 1.5em;
}

h1 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: .5rem;
    color: #fff;
    margin: 0;
    padding: 0;
}

h2,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: .02;
}

h3 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

p {
    font-weight: 400;
    margin-bottom: 2em;
}

.img-center {
    margin: 0 auto;
}

.padding-top-bottom {
    padding: 5% 0;
}

.padding-top {
    padding-top: 5%;
}

.padding-bottom {
    padding-bottom: 2%;
}

a {
    outline: 0!important;
    color: #e36d25;
}

a:focus,
a:hover {
    text-decoration: underline;
}

.section-description,
figcaption {
    font-family: 'Open Sans', Arial, sans-serif;
}

.section-title {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.4rem;
    line-height: 4.8rem;
    font-weight: 200;
    letter-spacing: 0;
    text-align: center;
}

.section-title-divider {
    margin:3% auto;
    width:20rem;
    height:.2rem;
    background-color: #cf2347;
}

.div-section-description {
    margin: auto;
    width: 70%;
    text-align: center;
}

.section-description {
    font-size: 2rem;
    color: #666;
    font-weight: 300;
    line-height: 1.5;
}

.div-section-description img {
    margin-top: 3%;
}

.bordered-text {
    border: 4px solid #fff;
    padding: 1.5% 3%;
    margin: 0 5%;
    background-color: rgba(0, 0, 0, .5);
    font-size: 3.75rem;
    color: #fff;
}

.contact-form h1 {
    font-size: 3.75rem;
    color: #fff;
}

.bordered-text span {
    text-transform: none;
}

.contact-form {
    border: 4px solid #fff;
    padding: 2.5% 3%;
    margin: 2% 5%;
    background-color: rgba(0, 0, 0, .5);
    font-size: 1.6rem;
    color: #fff;
    clear: both;
}

#project-title,
.hover-mask .project-title,
.member-details h4,
.resource-text-contain h4,
figcaption {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.headline-image {
    max-height: 500px;
    text-align: center;
    padding-bottom: 20%;
}

.headline-image-contact {
    max-height: 1000px;
    text-align: center;
}

#home {
    display: table;
    height: auto;
    width: 100%;
}

#home .bordered-text {
    padding: 1% 3% 0;
    margin: 0 5%;
}

#home span {
    padding: 0;
}

#home p {
    margin: 0;
}

#home .header-content {
    position: relative;
    display: table-cell;
    text-align: center;
}

.header-logo {
    margin: 5% auto;
    display: block;
    width: 30%;
    max-width: 226px;
}

.arrow-down {
    width: 60%;
    max-width: 70px;
}

.scroll-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -38px;
}

@-webkit-keyframes moving {
    0%,
    60% {
        bottom: 30px;
    }
    30% {
        bottom: 10px;
    }
}

@keyframes moving {
    0%,
    60% {
        bottom: 30px;
    }
    30% {
        bottom: 10px;
    }
}

.header-slider li {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
}

.header-slider li.flex-active-slide {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .4s ease-out .1s;
    transition: transform .4s ease-out .1s;
}

.navbar {
    margin: 0;
    border-radius: 0;
}

#main-nav {
    position: static;
    top: -70px;
    background: #fff;
    color: #4E5961;
    box-shadow: none;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transition: box-shadow .2s ease-out, top .3s ease-out .1s;
    transition: box-shadow .2s ease-out, top .3s ease-out .1s;
    z-index: 999999;
    padding-left: 20px;
}

#main-nav.stuck {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    z-index: 99998;
}

#main-nav .navbar-toggle {
    border-radius: 0;
    padding-top: 20px;
}

#main-nav .icon-bar {
    background: #4E5961;
}

.navbar-brand,
.navbar-brand:active,
.navbar-brand:focus,
.navbar-brand:hover {
    position: relative;
    padding: 0 10px;
    margin: 12px 0;
    font-size: 1.4em;
    line-height: 1.5;
    height: 40px;
    font-weight: 600;
    color: #777;
    font-variant: small-caps;
    letter-spacing: .02em;
    -webkit-transition: font-size .2s ease-out;
    transition: font-size .2s ease-out;
    overflow: hidden;
}

#main-nav .container {
    padding: 0 20px;
    -webkit-transition: padding .3s ease-out;
    transition: padding .3s ease-out;
}

#main-nav .nav a {
    position: relative;
    z-index: 1;
}

#main-nav .nav a,
#main-nav .nav a:active,
#main-nav .nav a:hover {
    padding: 28px 10px 0;
    font-size: .85em;
    line-height: 1em;
    font-weight: 400;
    letter-spacing: .01em;
    text-transform: uppercase;
    background: 0 0;
    color: #313131;
    opacity: .5;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

#main-nav .nav a:before,
.client img {
    -webkit-transition: all .3s ease-out;
}

#main-nav .nav a:hover,
#main-nav.stuck .nav .active>a,
.inner-page #main-nav .nav .active>a {
    opacity: 1;
}

#main-nav .nav a:before {
    display: none;
    position: absolute;
    top: -1px;
    left: 5%;
    content: "";
    width: 90%;
    height: 3px;
    background: #cf2347;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-out;
}

#main-nav .nav .active>a:before {
    opacity: 1;
}

#main-nav.stuck .nav .active>a:before {
    display: block;
}

#main-nav li {
    background: 0 0;
    margin: 0px;
}

#about img {
    margin-bottom: 20px;
}

#award img {
    diplay: block;
    margin-bottom: 3%;
    padding-bottom: 10%;
}

.logo-ticker {
    width: 100%;
}

.logo-slider {
    overflow: hidden;
    width: 100%;
    height: 70px;
    cursor: move;
    background-color: #cf2347;
}

.logo-slider-slides {
    cursor: move;
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.close-preview,
.project-item:hover {
    cursor: pointer;
}

#clients h2 {
    line-height: .75;
}

#clients p {
    margin: .5em 0 0;
}

.clients .client {
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;
}

.client img {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all .3s ease-out;
}

.hover-mask,
.member-details .title {
    -webkit-transition: all .3s ease-out;
}

#capabilities .headline-image {
    padding-top: 20%;
}

.capabilities-container {
    max-width: 350px;
    margin: 0 auto;
}

.section-title-capabilities {
    margin-bottom: 1%;
}

.section-title-team {
    margin-bottom: 1%;
}

.service-icn {
    width: 60%;
    max-width: 132px;
}

#capabilities figcaption {
    padding-bottom: 15%;
}

figcaption {
    color: #6a5584;
    font-size: 1em;
    font-weight: 600;
    padding-top: 10%;
}

#portfolio {
    background: #f1f1f1;
}

#portfolio h2 {
    margin-bottom: 10%;
}

article img {
    width: 100%;
}

.portfolio-logo {
    width: 60%;
    display: block;
    margin: 5% auto;
}

.hartford {
    width: 100%;
}

.project-item {
    margin-bottom: 11%;
    position: relative;
}

#project-content p {
    width: 80%;
    margin: 0 auto;
}

.project-item:hover .hover-mask {
    opacity: .95;
    filter: alpha(opacity=95);
}

.hover-mask {
    position: absolute;
    color: #fff;
    background: rgba(49, 131, 154, .95);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .3s ease-out;
}

.hover-mask .project-title {
    color: #fff;
    padding: 30% 2% 2%;
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: 300;
    text-align: center;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.project-item:hover .hover-mask .project-title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

#project-preview {
    display: none;
    text-align: center;
    position: relative;
    max-width: 940px;
    margin: 80px auto 60px;
    font-weight: 400;
    opacity: 0;
    letter-spacing: .02em;
    overflow: visible!important;
}

.touch #project-preview {
    opacity: 1!important;
}

#project-title {
    margin: 60px 0 30px;
    font-family: Raleway;
    font-size: 48px;
    line-height: 1.05em;
    font-weight: 100;
    letter-spacing: .02em;
    word-spacing: .15em;
    text-align: center;
}

#project-preview p {
    margin-bottom: 20px;
}

.close-preview {
    font-size: 2em;
    font-weight: 300;
    color: #31839a;
}

#project-slider {
    min-height: 450px;
}

#project-slider.flexslider {
    margin: 0 0 60px;
    padding: 0;
    background: 0 0;
    border: none;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#project-slider .flex-direction-nav {
    display: none;
}

#project-slider .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}

#project-slider .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
}

#project-slider .flex-control-paging li a {
    width: 36px;
    height: 12px;
    display: block;
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}

#project-slider .flex-control-paging li a:hover {
    background: #e36d25;
}

#project-slider .flex-control-paging li a.flex-active {
    background: #e36d25;
    cursor: default;
}

#team .section-title-divider {
    background-color: #77923d;
}

#team .headline-image {
    padding-top: 15%;
}

.team-cta {
    text-align: center;
    margin-bottom: 5%;
}

.team-cta a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #76913b;
}

.team-cta a:hover {
    color: #76913b;
}

.team-cta img {
    padding-left: 1%;
    width: 26px;
}

.team-member {
    margin-bottom: 30px;
    position: relative;
}

.member-thumb {
    position: relative;
    text-align: center;
    border-bottom: none;
    overflow: hidden;
}

.member-thumb .img-circle {
    border: 4px solid #76913b!important;
}

.member-thumb img {
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
}

.member-details h4 {
    margin: 0;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 200;
    text-align: center;
}

.member-details .title {
    margin: 2% 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 100;
    text-align: center;
    transition: all .3s ease-out;
}

.member-details p {
    margin: 0;
    font-size: 14px;
}

.member-details {
    margin: 0;
    position: relative;
    padding: 20px;
    color: #76913b;
    border-top: none;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.team-member .member-socials {
    bottom: 20px;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.team-member .member-socials li {
    display: inline-block;
    text-align: center;
    margin: 0;
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.team-member:hover .member-socials li:nth-child(2) {
    transition-delay: .1s;
}

.team-member:hover .member-socials li:nth-child(3) {
    transition-delay: .2s;
}

.team-member:hover .member-socials li:nth-child(4) {
    transition-delay: .3s;
}

.team-member:hover .member-socials li:nth-child(5) {
    transition-delay: .4s;
}

.team-member:hover .member-socials li {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.team-member .member-socials li a {
    display: inline-block;
    padding: 0;
    min-width: 40px;
    height: 40px;
    font-size: 2.1rem;
    line-height: 4rem;
    color: #76913b;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.team-member .member-socials li a:hover {
    background: #76913b;
    color: #fff;
}

.carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
    margin-top: 10%;
}

.carousel-showmanymoveone .carousel-control.left {
    margin-right: 2%;
}

.carousel-showmanymoveone .carousel-control.right {
    margin-left: 2%;
}

.left-arrow,
.right-arrow {
    width: 100%;
    max-width: 26px;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
    display: none;
}

.contact-header {
    font-style: italic;
    line-height: 1.25;
    font-weight: 300;
}

/* CAROUSEL HOME
-------------------------------------------------- */
#Container_Carousel{
    
    margin:0;
    padding:0;
    width:100%;
    
}
.item img{
     width:100%; 
    
    
}
body{
      margin:0;
    padding:0;
    
}
html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.col-lg-12 { padding:0px; }

.TeamPad {
    margin-bottom: 0;
    padding: 20px 40px;
}

#carouselTOP .carousel-control {
    width: 4%;
    background-image: none;
    margin-top: 25%;
}

.background-green {
    background-color: #76913b;
    min-height: 520px;
}

/* END */

@media all and (min-width:768px) {
    .carousel-showmanymoveone .carousel-inner>.active.left,
    .carousel-showmanymoveone .carousel-inner>.prev {
        left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner>.active.right,
    .carousel-showmanymoveone .carousel-inner>.next {
        left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner>.active,
    .carousel-showmanymoveone .carousel-inner>.left,
    .carousel-showmanymoveone .carousel-inner>.prev.right {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }

}

@media all and (min-width:768px) and (transform-3d),
all and (min-width:768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner>.item.active.right,
    .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner>.item.active.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner>.item.active,
    .carousel-showmanymoveone .carousel-inner>.item.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev.right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

@media all and (min-width:992px) {
    .carousel-showmanymoveone .carousel-inner>.active.left,
    .carousel-showmanymoveone .carousel-inner>.prev {
        left: -25%;
    }
    .carousel-showmanymoveone .carousel-inner>.active.right,
    .carousel-showmanymoveone .carousel-inner>.next {
        left: 25%;
    }
    .carousel-showmanymoveone .carousel-inner>.active,
    .carousel-showmanymoveone .carousel-inner>.left,
    .carousel-showmanymoveone .carousel-inner>.prev.right {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
        display: block;
    }
}

@media all and (min-width:992px) and (transform-3d),
all and (min-width:992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner>.item.active.right,
    .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner>.item.active.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner>.item.active,
    .carousel-showmanymoveone .carousel-inner>.item.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev.right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

.resources-article {
    text-align: center;
}

.resources-article img {
    width: 60%;
    margin-bottom: 5%;
    padding: 0;
    border: 2px solid #bfbfbf;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.lp-resources-cta {
    font-family: open sans, arial, sans-serif;
    color: #cf2347;
}

.lp-resources-cta a:link {
    font-style: italic;
    color: #cf2347;
}

.lp-resources-cta a:hover,
.lp-resources-cta a:visited {
    text-decoration: none;
    color: #cf2347;
}

.lp-resources-cta img {
    margin: 0 1% 1% !important;
    max-width: 24px;
    border: none;
}

img.resources-cta-icon {
    width: 12%!important;
    padding-top: 2%;
    border: 0;
}

.resources-article p {
    font-size: 1.4rem;
    margin-bottom: 5%;
}

.resource-text-contain {
    max-width: 300px;
    margin: -5% auto 10%;
}

#resources h2,
.resources-cta {
    margin-bottom: 5%;
}

.resource-text-contain h4 {
    font-weight: 600;
}

.resources-article a,
.resources-article a:hover {
    color: #cf2347;
}

#testimonials .client,
.testimonial {
    font-weight: 100;
    color: #fff;
    text-align: center;
}

.resources-cta {
    display: inline-block;
}

.background-blue {
    background-color: #31839a;
    min-height: 620px;
}

.testimonial {
    font-size: 1.4em;
    word-spacing: 5px;
}

#testimonials .tweet a:hover {
    text-decoration: underline;
}

#testimonials .client-img {
    width: auto;
    margin: 0 auto;
}

#testimonials .client {
    margin-bottom: 0;
}

#testimonials-slider {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    background: 0 0;
}

#testimonials-slider .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: center;
}

#testimonials-slider .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
}

#testimonials-slider .flex-control-paging li a {
    width: 36px;
    height: 12px;
    display: block;
    background: rgba(255, 255, 255, .1);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}

#testimonials-slider .flex-control-paging li a:hover {
    background: #fff;
}

#testimonials-slider .flex-control-paging li a.flex-active {
    background: #fff;
    cursor: default;
}

#testimonials-slider li {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
}

#testimonials-slider li.flex-active-slide {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .3s ease-out .1s;
    transition: transform .3s ease-out .1s;
}

#contact .headline-image {
    padding-top: 16%;
}

.btn-danger {
    background-color: #cf2347;
}

.btn-danger:hover {
    background-color: #901832;
}

#footer .social-icn {
    width: 60%;
    max-width: 70px;
    display: block;
    margin: 0 auto;
}

#footer {
    padding: 4em 0 2em;
    background: #f3f3f3;
}

#footer p {
    color: #999;
    font-size: 1.6rem;
    margin-top: 5%;
}

.social-icon-container {
    max-width: 700px;
    margin: 0 auto;
}

.flexslider {
    margin: 0;
    padding: 0;
    background: 0 0;
    border: none;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.btn+.btn {
    margin-left: 10px;
}

.clearfix {
    float: none;
    clear: both;
}


.gray-bg {
    background: #f3f3f3;
}

.red-bg {
    background: #cf2347;
}

.white-type {
    color: #fff;
}

.red {
    color: #cf2347;
}

.green {
    color: #76913b;
}

.purple {
    color: #6a5584;
}

.orange {
    color: #e36d25;
}

.blue {
    color: #31839a;
}

.dkblue {
    color: #316a9a;
}

.white-text {
    color: #fff;
}

.parallax-bg {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
}

.touch .parallax-bg {
    background-attachment: scroll;
}

#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999;
}

#page-loader .page-loader-gif {
    display: block;
    width: 100%;
    height: 114px;
    position: absolute;
    top: 50%;
    left: 0;
    margin: -32px 0 0;
    font-size: 21px;
    line-height: 58px;
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: center;
    color: #aaa;
    color: rgba(0, 0, 0, .2);
    background: url(../img/ss_logo_loader.gif) 50% 0 no-repeat;
}

.site-logo {
    height: 40px;
    margin: 0;
    top: 0;
    vertical-align: top;
}

.cta .cta-message p {
    padding: 15px 0 20px;
    font-size: 22px;
    line-height: 32px;
}

.cta .cta-message strong {
    font-size: 24px;
    letter-spacing: .02em;
}

.cta .cta-button {
    padding: 0;
}

@media (max-width:991px) {
    .team-member {
        margin-bottom: 2%;
    }
    .team-member .member-details,
    .team-member .member-thumb {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    #project-slider {
        min-height: 0;
    }
    #main-sidebar {
        padding-left: 3.5em;
    }
    #main-sidebar.left-sidebar {
        padding-right: 3.5em;
    }
    .post-comments .media-list .media {
        padding: 2em 1em;
    }
    .post-comments .media .img-circle {
        max-width: 60px;
    }
    .carousel-showmanymoveone .carousel-control.left,
    .carousel-showmanymoveone .carousel-control.right {
        margin-top: 15%;
    }
    .project-item img {
        max-width: 400px;
    }
    #footer .social-icn {
        width: 45%;
        min-width: 40px;
    }
    @media (min-width:768px) {
        .dropdown-menu {
            display: block!important;
            height: auto!important;
        }
        .logo-slider {
            margin-left: -25px;
        }
    }
    @media (max-width:767px) {
        div.hover-mask h2.project-title {
            padding-top: 35%;
            font-size: 1.5em;
        }
        p {
            font-size: 1.4rem;
        }
        .div-section-description {
            width: 90%;
        }
        h1 {
            display: inline-block
        }
        .skills h2 {
            font-size: 24px;
            line-height: 28px;
        }
        #blog-list .post-title,
        #single-post .post-title,
        h2 {
            font-size: 21px;
            line-height: 24px;
        }
        h3 {
            font-size: 1.5rem;
        }
        .section-title {
            font-size: 32px;
            line-height: 36px;
        }
        .list-unstyled.service-bullets li{
        font-size:1.4rem;
        } 
        .section-description {
            font-size: 1.4em;
        }
        .big-title {
            font-size: 32px;
        }
        .header-slider {
            margin-top: 40px;
        }
        .counter {
            font-size: 68px;
        }
        .cta .cta-message p,
        .cta .cta-message strong {
            font-size: 18px;
            line-height: 24px;
        }
        .cta .cta-message {
            text-align: center;
        }
        .services .item {
            margin-bottom: 60px;
        }
        .portfolio-logo {
            width: 80%;
        }
        #portfolio .section-title {
            font-size: 1.75em;
            margin-bottom: 15%;
        }
        #project-title {
            font-size: 3.2rem;
        }
        .team-member .member-details,
        .team-member .member-thumb {
            max-width: 265px;
            margin-left: auto;
            margin-right: auto;
        }
        .pull-left {
            display: block;
            float: none;
            width: 100%;
            margin-bottom: 10px;
        }
        .testimonial {
            font-size: 1.4em;
            line-height: 1.5em;
            color: #fff;
        }
        .pricing .item {
            top: 0;
            margin: 0 auto 40px;
            max-width: 400px;
        }
        #main-sidebar {
            display: none;
        }
        #site-nav {
            max-height: 400px;
        }
        .dropdown .dropdown>a:after,
        .dropdown .left-side.dropdown>a:after {
            position: static;
            content: "f0d7";
            font-size: 14px;
            margin-left: 5px;
            font-family: fontAwesome
        }
        .dropdown-menu,
        .dropdown-menu .dropdown-menu {
            position: static;
            top: 0!important;
            left: 0!important;
            right: auto!important;
            padding: 0;
            display: none;
            width: 100%!important;
            visibility: visible;
            box-shadow: none!important;
            border: none!important;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
        #main-nav .dropdown-menu li {
            position: static;
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        #main-nav .dropdown-menu a {
            clear: none;
            padding: 5px 0;
            font-size: 1em;
            line-height: 26px!important;
        }
        #main-nav .dropdown-menu a:hover {
            padding: 5px 0;
            font-size: 14px;
            line-height: 14px;
            color: #e36d25;
            background: 0 0;
        }
        .padding-top-bottom #single-post {
            margin-top: -50px;
        }
        .features .media .pull-right {
            float: left!important;
            margin-left: 0;
            margin-right: 10px;
        }
        .features .media .pull-right+.text-right {
            text-align: left;
        }
        .post-comments .media .media,
        .post-comments .media .replies {
            margin-left: -50px;
        }
        .post-comments .btn {
            width: 100%;
        }
        .carousel-showmanymoveone .carousel-control.left,
        .carousel-showmanymoveone .carousel-control.right {
            margin-top: 20%;
        }
        .resources-article img {
            width: 50%;
            margin-bottom: 0;
        }
        .resources-article p {
            font-size: 1.4rem;
            margin-bottom: 2%;
        }
        .resources-cta {
            margin-bottom: 10%;
        }
        .section-title {
            margin-left: 2%;
            margin-right: 2%;
        }
    }
    @media (max-width:550px) {
        #projects-container .project-item {
            width: 100%;
        }
        #portfolio .project-title {
            font-size: .8em;
            padding-top: 15%;
        }
        .section-title {
            font-size: 2em;
        }
        .bordered-text .contact-form h1 {
            font-size: 1.8em;
            line-height: 1;
        }
        .contact-form {
            font-size: 1.2em;
            line-height: 1;
        }
        .resources-cta {
            margin-bottom: 20%;
        }
        .resources-article img {
            width: 70%;
        }
        .section-description {
            font-size: 1em;
        }
        .carousel-showmanymoveone .carousel-control.left,
        .carousel-showmanymoveone .carousel-control.right {
            margin-top: 30%;
        }
        .social-icon-container {
            margin-left: -8%;
        }
        .testimonial {
            font-size: 1.1em;
        }
    }
    @media (max-width:420px) {
        #home .bordered-text,
        .contact-form {
            margin-top: 2%;
        }
        #contact .btn-danger {
            margin-bottom: 10%;
        }
        #footer p {
            margin-top: 10%;
        }
        #footer .social-icn {
            width: 40px;
        }
    }